// studio - elements - global footer
// ====================

.wrapper-footer {
  position: relative;
  width: 100%;
  margin: 0 0 $baseline 0;
  padding: $baseline;

  footer.primary {
    @extend %t-copy-sub2;

    @include clearfix();

    max-width: $fg-max-width;
    min-width: $fg-min-width;
    width: flex-grid(12);
    margin: 0 auto;
    color: $gray-d3;

    .footer-content-primary {
      @include clearfix();
    }

    .colophon {
      width: flex-grid(4, 12);

      @include float(left);
      @include margin-right(flex-gutter(2));
    }

    a {
      color: theme-color("primary");

      &:hover,
      &:active {
        color: $uxpl-blue-hover-active;
      }
    }

    .nav-peripheral {
      width: flex-grid(6, 12);

      @include float(right);
      @include text-align(right);

      .nav-item {
        display: inline-block;

        @include margin-right($baseline/4);

        &:last-child {
          @include margin-right(0);
        }

        a {
          border-radius: 2px;
          padding: ($baseline/2) ($baseline/2);
          background: transparent;

          .icon {
            @include transition(top $tmg-f2 ease-in-out $tmg-f2);

            @extend %t-action3;

            display: inline-block;
            vertical-align: middle;

            @include margin-right($baseline/4);
          }
        }
      }
    }

    .footer-content-secondary {
      @include clearfix();

      margin-top: $baseline;
    }

    .footer-about-copyright{
      width: 100%;
      display: inline-block;
      text-align: center;
      padding: 15px;
    }

    // platform trademarks
    //.footer-about-copyright {
    //  width: flex-grid(4, 12);

      //@include float(left);
      //@include margin-right(flex-gutter(2));
    //}

    // platform Open edX logo and link
    .footer-about-openedx {
      @include float(right);
      @include text-align(right);

      a {
        display: inline-block;

        img {
          display: block;
          width: ($baseline* 6);
        }

        &:hover {
          border-bottom: none;
        }
      }
    }
  }
}

.container-footer-custom {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @include media-breakpoint-down(xl) {
          max-width: 1140px;
  }

  @include media-breakpoint-down(lg){
          max-width: 940px;
  }

  @include media-breakpoint-down(md){
          max-width: 760px;
  }

  @include media-breakpoint-down(sm){
          max-width: 540px;
  }

  .copy-right {
          margin-bottom: 30px;
  }

  .custom-wrapper {
          display: flex;
          flex-wrap: wrap;
          margin-right: -15px;
          margin-left: -15px;
  }

  footer .contact-info ul {
          list-style-type:none;
          padding-left: .5rem!important;
          display: block;
          margin-block-start: 1em;
          margin-block-end: 1em;
          margin-inline-start: 0px;
          margin-inline-end: 0px;
          padding-inline-start: 40px;
          margin-top: 0;
          margin-bottom: 1rem;
  }

  footer .contact-info ul li {
          color: #9b9b9b;
          font-size: 14px;
          margin-bottom: .5rem!important;
          display: list-item;
  }

  footer .membru-info h5 {
          font-family: latoregular;
          font-size: 12px;
          margin-bottom: 0! important;
  }

  footer .membru-info ul {
          margin-top: 0;
          margin-bottom: 1rem;
          list-style-type: none;
          padding-left: 0!important;
          display: flex!important;
  }

  footer .membru-info ul li {
          color: #1f3665;
          font-size: 20px;
          margin-right: .5rem!important;
          margin-bttom: 0!important;
          display: list-item;
  }

  footer .social-info ul {
          margin-top: 0;
          margin-bottom: 1rem;
          list-style-type: none;
          list-style: none;
          padding-left: .5rem!important;
          justify-content: flex-end!important;
          display: flex!important;
  }

  footer .social-info ul li {
          color: #1f3665;
          font-size: 18px;
          color: #d7d9ef;
          border: 4px solid;
          width: 35px;
          height: 35px;
          text-align: center!important;
          display: inline-block;
          margin-right: .5rem;
  }

  footer .social-info ul li a {
          line-height: 35px;
  }

  .img-responsive {
          max-width:80%;
          height: auto;
  }
}

.custom-col-3 {
  position: relative;
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;

  @media (min-width: 768px){
          max-width: 25%;
  }
}

.custom-col-4 {
  position: relative;
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;

  @media (min-width: 768px) {
          max-width: 25%;
  }
}

.custom-col-2 {
  position: relative;
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;

  @media (min-width: 768px){
          max-width: 14%;
  }
}

